:root{
    --primary: #18253c;
    --secondary: #fbef10;
    --bg:#0e1523;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    background-color:var(--bg);
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

    font: normal 1rem sans-serif;
}
.cart{
    position: relative;
    width: 17rem;
    height: 23rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    border: .1rem solid transparent;
    box-shadow: 0 .2rem .6rem #0003;
    transition: .5s ease-in-out;
}

.cart:hover{
    border: .1rem solid var(--secondary);
    transform: scale(1.05);
}

.cart::before, .cart::after{
    position: absolute;
    content: "";
    background-color: var(--secondary);
    border-radius: 50%;
    transition: .5s ease-in-out;
    z-index: 100;
}

.cart::before{
    top: -6%;
    right: -6%;
    width: 9rem;
    height: 9rem;
}


.cart::after{
    bottom:-6%;
    left:-6%;
    width: 5rem;
    height: 5rem;
}

.cart:hover::before{
    transform: scale(1.8);
}

.cart:hover::after{
    transform: scale(0);
}

.cart-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 200;
}

.cart-img{
    width: auto;
    height: 9.5rem;
   
}

.cart-title{
    font-size: 1rem;
}

.cart-body{
    width: 20%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.star{
    font-size: 1.4rem;
    color:gold;
}

.card-price{
    font: bolder 1.5rem sans-serif;
}
.btn{
    padding: 1rem 2rem;
    background-color: unset;

}